<!DOCTYPE html>
<html>
  <head>
    <title>alert</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<h1><%= message %>></h1>
		<p>Go back to <a href="/">Login Page</a></p>
  </body>
</html>
