<!DOCTYPE html>
<html>
  <head>
    <title>Search Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<h1>Search Movies</h1>
		<form action="/search-movies/search" method="post">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name"><br><br>
			<label for="language">Language:</label>
			<input type="text" id="language" name="language"><br><br>
			<label for="genres">Genres:</label>
			<input type="text" id="genres" name="genres"><br><br>
			<input type="submit" value="Search">
		</form>
  </body>
</html>
