<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<h1>Search Results</h1>
		<table border="1" cellpadding="3">
			<tr>
				<th width="300">Matched Movies</th>
				<th width="300">Movies With Same Genre</th>
			</tr>
			<% movieSearchResultObj.forEach(movie => { %>
				<tr>
					<td><%= movie.name %></td>
					<td>
						<select name="genre" id="genre">
							<% movie.moviesWithSameGenre.forEach(mov => { %>
								<option value="<%= mov.name %>"><%= mov.name %></option>
							<% }); %>
						</select>
					</td>
				</tr>
			<% }); %>
		</table>
  </body>
</html>
