<!DOCTYPE html>
<html>
  <head>
    <title>Search Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<h1>Search Movies</h1>
		<form action="/search-movies/results" method="post">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name"><br><br>
			<label for="language">Language:</label>
			<select name="language" id="language">
				<option value=""></option>
				<% languages.forEach(language => { %>
					<option value="<%= language %>"><%= language %></option>
				<% }); %>
			</select><br><br>
			<label for="genre">Genre:</label>
			<select name="genre" id="genre">
				<option value=""></option>
				<% genres.forEach(genre => { %>
					<option value="<%= genre %>"><%= genre %></option>
				<% }); %>
			</select><br><br>
			<input type="submit" value="Search">
		</form>
  </body>
</html>
